:root {
    --primary: #fc389a;
    --bg: #efdfd1;
    --Secondary: #ac58b6;
    --Third: #ff291e;
    --Fourth: #ff7307;
    --line: #000000;
    --text: #ffcf00;
    --borderline: #b9b9b9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color:#000000;
}

.about h2 span {
    color: var(--primary)
}

/* navbar */
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--borderline);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color:#fc389a;
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 150px;
    height: auto;
    margin-right: 0.5rem;
}

.navbar .navbar-logo span {
    color: var(--line);
}

.navbar .navbar-nav a {
    color: #000000;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary)
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #000000;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--Secondary)
}

#hamburger-menu {
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/hd-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 24%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(239, 223, 209) 8%, rgba(255, 255, 255, 0)50%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5rem;
    color: #ffff;
    text-shadow: 1px 1px 3px rgba(1 ,1 ,3 ,0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color:var(--primary);
}

.hero .content p {
    color: #f0f0f0;
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1 ,1 ,3 ,0.5);
}

/* about section */
.about, 
.menu, 
.contact {
    padding: 8rem 7% 1.4rem;
}

.about h2, 
.menu h2,
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span, 
.menu h2 span,
.contact h2 span {
    color: var(--Secondary);
}

.about .row {
    display: flex; 
}

.about .row .about-img {
    flex: 1 1 5rem;
}

.about .row .about-img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 0.5rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    text-align: justify;
}

/* Menu Items */
/* Menu Items (sembunyikan semua menu-item secara default) */
#menu-list {
    margin-top: 20px;
}

.menu-item {
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan shadow */
    display: none; /* Sembunyikan semua menu-item */
}

/* Hover effect pada menu */
.menu-item:hover {
    background-color: #c50808;
    cursor: pointer;
}

/* Hasil pencarian yang cocok akan ditampilkan */
.menu-item.show {
    display: block;
}

/* Hasil pencarian */
.menu-item.hidden {
    display: none !important; /* Sembunyikan item tidak relevan */
}


/* menu section */
.menu h2, .contact h2 {
    margin-bottom: 1rem;
}

.menu p, .contact p {
    text-align: center;
    max-width: 69rem;
    margin: auto;
    line-height: 1.6;
    font-size: 1.4rem;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 4rem;
}

.menu .row .menu-card img {
    border-radius: 25%;
    width: 80%;
}

.menu-card-title {
    color:#000000
}

.menu-card-price {
    color:#000000
}

.menu .row .menu-card .menu-card-title {
    margin: 0.5rem auto 0.5rem;
}

.menu .row .menu-card img:hover {
    transform: translate(-5px);
    box-shadow: 0px 8px 12px rgba(4, 4, 6, 0.2);
    background-color: #f0f0f0;
    color: #5a2d82;
    cursor: pointer;
}

/* contact section */
.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color:#beb1a6;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 3rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #666666;
    padding: 0 1rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #000000;
    margin-right: 1rem;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 0.7rem;
}

/* APP Section */
.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 200px;
    padding: 20px 40px;
    background-color: #f3b964;
    border-radius: 3rem;
}

.promo-content {
    max-width: none;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    padding: 20px;
    color: #6f4f99;
}

.promo-content h1 {
    font-size: 2.5rem;
    line-height: 1,2;
    margin-bottom: 10px;
    font-weight: bold;
}

.promo-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.promo-content ul {
    margin-left: 20px;
    font-size: 1rem;
    line-height: 1.5;
}

.promo-content li {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.app-links {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.app-links img {
    width: 150px;
    height: auto;
}

.app-links img:hover {
    transform: scale(1.1);
}

.promo-image img {
    max-width: 200%;
    margin-bottom: 5px;
    height: auto;
}

.promo-image {
    display: flex;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    background-color: var(--Fourth);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover {
    color: var(--primary)
}
footer .links a:hover {
    color: var(--primary)
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .creadit {
    font-size: 0.8rem;
}

footer .credit a {
    color: var(--line);
    font-weight: 700;
}

/* Checkout Section */


/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color:#ac58b6;
        width: 30rem;
        height: 100vh;
        transition: 0.5s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover:after {
        transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
        flex-wrap: wrap;
    }

    .menu p {
        font-size: 1.6rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .promo-image img {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}